Language: Cpp
BasedOnStyle: WebKit

AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
# make adding new members at the end less noisy in diffs
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true